* {
    box-sizing: border-box;
}
body {
	padding: 0px;
	margin: 0px;
	font-family: monospace;
	background-color: #F8F8F8;
}
.wrapper {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}
.logo {
	width: 100px;
	margin-bottom: 20px;
}
.login-wrapper {
	padding: 0px;
	width: 333px;
	background-color: #FFC300;
}
.tabs-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
}
.tabs-wrapper a {
	flex-grow: 1;
	text-align: center;
	text-decoration: none; 
	background-color: #FFC300; 
	font-weight: bold;
	font-size: 14px;
	color: #6c007d;
	padding: 18px 0px 0px 0px;
}
.form-wrapper {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	padding: 58px 0px 30px;
}
.form-wrapper label {
	font-size: 10px;
	margin: 0px 40px 3px;
	color: #6c007d;
}
.form-wrapper input {
	font-size: 10px;
	color: #B1B1B1;
  margin: 0px 25px 20px 25px;
  padding: 15px 10px;
	border: none;
	border-bottom: 1px solid #F5F5F5;
	border-radius: 10px;
}
.form-wrapper select {
	font-size: 10px;
	color: #B1B1B1;
  margin: 0px 25px 20px 25px;
  padding: 15px 10px;
	border: none;
	border-bottom: 1px solid #F5F5F5;
	border-radius: 10px;
}
.register-wrapper {
	display: flex;
	justify-content: flex-end;
}
.reg-submit {
	background-color: #6c007d;
	cursor: pointer;
	border:none; 
	width: 108px;
	height: 41px;
	color: #FFC300;
	font-weight: bold;
	font-size: 12px;
	margin-left:200px;
	border-radius: 10px;
}
.reg-submit:hover {
opacity: 0.8;
}
a.disabled {
	background-color: #E1E1E1;
	color: #ffffff;
}
.social-wrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.social-wrapper a {
	text-decoration: none;
}
.social-wrapper a:hover {
	opacity: 0.9;
}
.radio {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	font-size: 10px;
	color: #6c007d;
	margin: 0px 0px 20px 0px;
	padding: 20px;
}
.error-message {
	color: red;
	display: flex;
	margin-top: 20px;
	justify-content: center;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
.header-wrapper {
	background-color: #FFC300;
	margin: 10px 150px 0px;
	display: flex;
	justify-content: space-between;
	border: 2px solid #6c007d;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
}
.header-logo {
	margin: auto 10px;
}
.header-logo img {
	width: 150px;
}
.header-login {
	display: flex;
	flex-direction: column;
	margin: 10px 20px 10px 0px;
}
.header-login-form {
	display: flex;
	flex-direction: column;
}
.header-login-form label {
	font-family: monospace;
	font-size: 20px;
	color: #6c007d;
	margin-bottom: 5px;
	text-align: right;
}
.reg-input {
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	border:1px solid #6c007d;
}
.header-login a {
	font-size: 12px;
	text-decoration: none;
	margin-bottom: 3px;
	color: #6c007d; 
}
.header-login a:hover {
	text-decoration: underline;
}
.nav-wrapper {
	font-family: monospace;
	margin: 0px 100px;
	display: flex;
	background-color:#FFC300;
	border-radius: 10px;
	overflow: hidden; 
}
.nav-wrapper a {
	flex-grow: 1;
	text-align: center;
	text-decoration: none; 
	border:2px solid #6c007d ;
	border-left: none;
	border-radius: 10px 10px 0px 0px;
	padding: 15px 0px;
	background-color:#FFC300; 
}
.nav-wrapper a:first-child {
	border-left:2px solid #6c007d ;
	border-radius: 10px 10px 0px 10px;
}
.nav-wrapper a:last-child {
	border-radius: 10px 10px 10px 0px;
}
.nav-wrapper a:hover {
	background-color: #6c007d;
	color: #FFC300;
}
h1{
	text-align: center;
	font-size: 20px;
	color: black;
	font-family: monospace;
	margin: 50px 0px 50px;
}
.posts-list {
	width: 1200px;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}
.posts-list a {
	text-decoration: none;
}
.posts-list a:hover {
	opacity: 0.7;
} 
.post-block {
	background-color: #FFC300;
	margin-right: 30px;
	margin-bottom: 30px;
	width: 270px;
	height: 415px;
}
.post-block:nth-child(4n+1) {
	width: 570px;
}
.post-description h2 {
	font-family: monospace;
	color: #6c007d;
	margin: 35px 40px;
	text-align: left;
	font-size: 16px;
}
.allusers {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: monospace;
}
.allusers th {
	background-color: #FFC300;
	color: #6c007d;
	border: 2px solid #6c007d;
	border-radius: 10px;
	text-align: center;
	padding: 10px 10px;
}
.allusers td {
	text-align: center;
	padding: 10px 10px;
}